
.Display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #1976d2;
    height: 20%;
    color: #fff;
    font-size: 24px;
}

h3 {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    padding-left: 15px;
}

